/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.gitattributes
.styleci.yml
.editorconfig
artisan
phpunit.xml
tailwind.config.js
docker-compose.yml
webpack.mix.js
/tests
/docker
/lang
README.md