/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.example
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/css
/public/js
.gitattributes
.styleci.yml
.editorconfig
artisan
phpunit.xml
tailwind.config.js
docker-compose.yml
package-lock.json
package.json
composer.json
composer.lock
webpack.mix.js
/tests
/docker
/lang
/storage