// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//calender
@import 'month';

//Todo List
@import 'todo';

//Day Schedule
@import 'day';


.body{
    display: flex;
}

.header{
    height: 50px;
}

.footer{
    height: 50px;
}

