// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//calender
@import 'month';

//Todo List
@import 'todo';

//Day Schedule
@import 'day';


.body{
    display: flex;
}

.header{
    height: 50px;
    .header-title{
        color: rgb(161, 161, 162);
        font-size: 1rem;
    }
//   border-bottom: 1px solid silver;
}

.footer{
    width:100%;
    height: 40px;  
    background-color: rgb(229, 231, 237);
    text-align: center;
    // border-bottom: 1px solid silver;
    .info{  
        color: rgb(161, 161, 162);
        padding-top: 9px;
    }
}

